/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
html {
  background-image: url(deals.JPG);
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.375em; /* 22 / 16 = 1.375em */
  line-height: 1.09em; /* 24 / 22 = 1.09090909em */
}

header{
  font-size: 48px;
  padding: 1.09em;
}
figure {
  text-align: center;
}

li {
  padding-bottom:1.09em;
}

label {
  display: block;
}

input {
  border: solid;
  padding: 1em;
}
input[type="submit"] {
  font-size: 1em;
  font-family: 'Indie Flower', cursive;
  background-color: #57d6c8;
  font-weight: bold;
  cursor: pointer;
}
select {
  font-size: 0.75em;
  font-family: 'Indie Flower', cursive;
  margin-bottom: 1.09em;
}
/* Layout Styles */

/* Modular Styles */
@media screen and (min-width: 72.1em) {
}

@media screen and (min-width: 40em) and (max-width: 72em) {
}

@media screen and (min-width: 0em) and (max-width: 39.9em){

}

/* State Styles */




/* CSS Pseudo-Code */

/*
  selector {
    property: value;
    property: value value value;
    property: value, value, value;
  }
*/
